@import "../../styles/vars";

.oneword {
    margin-top: 10px;
    div {
        height: 40px;
    }

    .oneword__text {
        justify-content: flex-start !important;
    }
    .oneword__btn {
        justify-content: space-evenly;
    }
}

.oneword__btn_remove {
    background-image: url(../../assets/imgs/remove_bin.svg);
}

.oneword__btn_edit {
    background-image: url(../../assets/imgs/edit.svg);
}

.oneword__btn_save {
    background-image: url(../../assets/imgs/save_done.svg);
}

.oneword__btn_cancel {
    background-image: url(../../assets/imgs/cancle.svg);
}

.oneword__btn_remove,
.oneword__btn_edit,
.oneword__btn_save,
.oneword__btn_cancel {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: none;
    border-radius: 50%;

    &:hover {
        background-color: #d39df2;
    }
}

.oneword__btn_remove,
.oneword__btn_edit,
.oneword__btn_save {
    background-size: 25px;
}

.oneword__btn_cancel {
    background-size: 28px;
}
