@import "../../styles/vars";

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cards__word {
    width: 300px;
    height: 400px;
    padding: 10px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: $cardColor;
    border: solid 3px $theme_dark;
    border-radius: 25px;
    color: $theme_dark;
}

.cards__word__tags {
    font-size: $highlight_fontSize;
    margin-bottom: 30px;
}

.cards__word__meaning {
    font-size: $highlight_fontSize;
    font-weight: 700;
}

.cards__word__transcr {
    font-size: $main_fontSize;
    margin-bottom: 50px;
}

.cards__word__check {
    height: 40px;

    button {
        padding: 5px 10px;
        border-radius: 10px;
        border: 2px solid $cardColor;
    }
}

.cards__button {
    button {
        padding: 10px;
        border-radius: 10px;
        border: 2px solid white;
    }
}

.cards__word__check,
.cards__button {
    button {
        background-color: $buttonColor;
        color: $theme_dark;
        font-size: $main_fontSize;
        font-weight: 700;
    }
    button:hover,
    button:focus-visible {
        border: 2px solid $theme_dark;
    }
}
