/* Breakpoints */
$smallMobile: 330px;
$mobile: 480px;
$smallTablet: 620px;
$tablet: 959px;

/* Colors */
$theme_light: #f9b5bb;
$theme_dark: #360c4d;
$borderColor: rgb(247, 35, 99);
$buttonColor: rgb(251, 226, 39);
$cardColor: rgb(194, 166, 244);

$purple_logo: #8078bc;
$yellow_logo: #f1d333;
$green_logo: #80e29d;
$pink_logo: #d80a61;

/* Fonts */
$generalFont: "Roboto", sans-serif;
$main_fontSize: 1em;
$highlight_fontSize: 1.2em;
