@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "vars";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $generalFont;
    background-color: #fff;
    font-weight: 500;
}

main {
    flex: 1 0 auto;
}

.container {
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
}

.content {
    margin-top: 74px;
    padding-top: 40px;
    padding-bottom: 40px;
}

a {
    color: $theme_dark;
    text-decoration: none;
    &:focus-visible {
        color: $accentColor;
    }
}

@media (hover: hover) {
    a:hover {
        cursor: pointer;
        color: $accentColor;
        transition: color 0.1s ease;
    }
}

@media (hover: none) {
    a:hover {
        color: $theme_dark;
    }
    a:active {
        color: $accentColor;
        outline: none;
    }
}

button {
    font-family: $generalFont;
    &:hover {
        cursor: pointer;
    }
}

input {
    font-family: $generalFont;
    &:hover {
        cursor: text;
    }
}

p {
    font-family: $generalFont;
}

a,
button,
input[type="text"],
div,
p {
    -webkit-tap-highlight-color: transparent;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
}

@supports (padding: max(0px)) {
    body,
    header,
    footer {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
}
