@import "../../styles/vars";

.card {
    width: 300px;
    height: 400px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: $cardColor;
    border: solid 3px $theme_dark;
    border-radius: 25px;
    color: $theme_dark;
}

.card__tags {
    font-size: $highlight_fontSize;
    margin-bottom: 30px;
}

.card__meaning {
    font-size: $highlight_fontSize;
    font-weight: 700;
}

.card__transcr {
    font-size: $main_fontSize;
    margin-bottom: 50px;
}

.card__check {
    height: 40px;
    button {
        padding: 5px 10px;
        border-radius: 10px;
        border: 2px solid $cardColor;
        background-color: $buttonColor;
        color: $theme_dark;
        font-size: $main_fontSize;
        font-weight: 700;
    }
    button:hover,
    button:focus-visible,
    button:focus {
        border: 2px solid $theme_dark;
    }
}

.card_animate {
    animation-name: increase;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
}

@keyframes increase {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}
