@import "../../styles/vars";

.footer {
    margin-top: 1rem;
    padding: 1rem;
    background: $theme_light;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: $main_fontSize;
    color: $theme_dark;

    .link {
        text-decoration: none;
        font-weight: bolder;
    }
}
