@import "../../styles/vars";

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 10vw;
    color: $theme_dark;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    p,
    div {
        font-size: $main_fontSize;
    }
}

.start-train {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin: 1em 0px;

    button {
        padding: 10px;
        border-radius: 10px;
        background-color: $buttonColor;
        border: 2px solid white;
        color: $theme_dark;
        font-size: $main_fontSize;
        font-weight: bold;
    }

    button:hover {
        border: 2px solid $theme_dark;
    }
}
