@import "../../styles/vars";

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: $theme_dark;
}

.main__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 3vw;
}

.main__title {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
}

.main__text {
    font-size: $main_fontSize;

    p {
        margin-bottom: 10px;
    }
}

.main__buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;

    button {
        width: 180px;
        padding: 10px 0px;

        background-color: $buttonColor;
        border: 2px solid white;
        border-radius: 50px;

        color: $theme_dark;
        font-size: $main_fontSize;
        font-weight: 700;
    }

    button:hover,
    button:focus-visible {
        border: 2px solid $theme_dark;
    }
}

.main__img {
    img {
        width: 100%;
    }
}
