@import "../../styles/vars";

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background: $theme_light;

    .header__logo {
        width: 50px;
    }

    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        a {
            font-size: $highlight_fontSize;
            margin-left: 20px;
        }
    }
}
