@import "../../styles/vars";

.header {
    position: fixed;
    top: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: $theme_light;
    padding-top: 10px;
    padding-bottom: 10px;

    .header__logo {
        width: 50px;
    }

    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        a {
            font-size: $highlight_fontSize;
            margin-left: 20px;
        }
    }
}
