@import "../../styles/vars";

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: $theme_light;
    color: $theme_dark;
    font-size: $main_fontSize;
    padding-top: 15px;
    padding-bottom: 15px;

    .footer__link {
        font-size: $main_fontSize;
        font-weight: bolder;
    }
}
