@import "../../styles/vars";

table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 10px 15px;
    border: solid 3px $theme_dark;
    font-size: $main_fontSize;
}

th,
td {
    border: solid 2px $theme_dark;
    background: $cardColor;
}

th {
    padding: 5px 10px;
}

td {
    padding: 0px 10px;
}

th {
    text-align: center;
}

.btn-add {
    background-image: url(../../assets/imgs/row.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    padding: 5px;

    &:hover {
        border: 2px solid $theme_dark;
        border-radius: 5px;
    }
}
