@import "../../styles/vars";

.words {
    margin-top: 20px;
    margin-bottom: 20px;
}

.words__inner {
    border: solid 3px $theme_dark;
    padding: 10px 15px;
    color: $theme_dark;
}

.words__parameters {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(4, 4fr) 2fr;
    align-items: center;
    justify-items: stretch;

    div {
        height: 100%;
        border: solid 2px $theme_dark;
        background: $cardColor;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0px 5px;
    }

    div:not(:last-child) {
        margin-right: 10px;
    }
}

.words__btn_add {
    width: 100%;
    height: 30px;
    background-image: url(../../assets/imgs/add-row.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: $cardColor;
    border: solid 2px $theme_dark;

    &:hover {
        background-color: #d39df2;
    }
}
