:root {
    --theme-light-color: #f9b5bb;
    --theme-dark-color: #360C4D;
    --border-color: rgb(247, 35, 99);
    --main-button-color: rgb(251, 226, 39);
    --card-color: rgb(194, 166, 244);
    --main-font-size: 1em;
    --highlight-font-size: 1.2em;
    --main-font: Verdana, Arial, Helvetica, sans-serif;
   }